
html {
  scroll-behavior: smooth;
}

.wrapper{
    width: 100%;
}

.titulo {
    background-color: transparent;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Staatliches', cursive;
    font-size: 12vh;
}

.header_pricipal{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column  ;
    background: url("img/img-header.jpeg") top center;
    min-height: 500px;
    height: 100vh;
    background-position: bottom;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

.botao_inicial{
    width: 40%;
    max-width: 400px;
    color: white;
    background-color: black;
    padding: 1rem 3rem 1rem 3rem;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #a2a2a2;
    font-family: 'Roboto Slab', serif;
    transition: 0.3s;
}

.botoes {
    margin-top: 3rem;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.botao_next_page {
    width: 40%;
    max-width: 400px;
    color: white;
    background-color: black;
    padding: 1rem 3rem 1rem 3rem;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #a2a2a2;
    font-family: 'Roboto Slab', serif;
    transition: 0.3s;
}

.breaker {
    width: 100%;
    height: 50px;
    background-color: white;
}

main {
    padding: 0 1rem;
}

.container_images {
    display: grid;
    grid-template-columns: 1fr;
}

.places_description {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.places_description p {
    font-family: 'Roboto Mono', monospace;
    background-color: #e9e9e9;
    padding: 2em;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 17px;
    line-height: 1.75em;
}

.button_learn_more {
    text-decoration: none;
    padding: 1em 2em;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.paralax_images {
    display: flex;
    position: relative; 
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    width: 100%;
    max-height: 100vh;
    min-height: 435px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.display_img {
    text-align: center;
    margin-top: 100px;
}

.display_img h2 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
}

#first_place {
    background-image: url("https://w.wallhaven.cc/full/k9/wallhaven-k98d6m.jpg");
}

#second_place {
    background-image: url("https://w.wallhaven.cc/full/47/wallhaven-47585y.jpg");
}

#third_place {
  background-image: url("https://w.wallhaven.cc/full/nm/wallhaven-nmmqy1.jpg"); 
}

#forth_place {
    background-image: url("https://w.wallhaven.cc/full/42/wallhaven-427z9x.jpg");
}

#five_place {
    background-image: url("https://w.wallhaven.cc/full/nz/wallhaven-nzepww.jpg");
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 50%;
    bottom: 9px;
    right: 17px;
    width: 45px;
    height: 45px;
    background-color: white;
    text-decoration: none;
}

.btn::after {
    content: "↑";
    margin-bottom: 7px ;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    transition: margin-top 250ms;
}

.btn:hover::after {
    margin-top:-8px;
}

.efeito {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 17px;
    top: 0;
    text-decoration: none;
    color: white;
    font-size: 5rem;
    font-family: 'Roboto Slab', serif;
}

.efeito {
    display: none;
}

.paralax_images:hover .efeito {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width: 481px) {
    
    .paralax_images {
        height: 60%;
    }

    .display_img {
        height: 100vh;
    }
}

@media screen and (min-width: 768px) {
    .paralax_images {
        height: 60vh;
    }

    .display_img {
        height: 100vh;
    }


    .botao_next_page:hover {
        transition-duration: 1s;
        transition: width 2s, height 4s;
        background-color: white;
        color: black;
    }

    .botao_inicial:hover {
        transition-duration: 1s;
        transition: width 2s, height 4s;
        background-color: white;
        color: black;
    }
}

@media screen and (min-width: 1024px) {


    .paralax_images {
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .display_img {
        height: 50vh;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .display_img h2 {
       align-self: flex-start;
       margin-bottom: 10px  ;
    }

    .places_description {
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .button_learn_more {
        align-self: flex-start;
    }

    #second , #forth {
        flex-direction: row-reverse;
    }

    .titulo {
        font-size: 11rem;
    }

    .botoes {
        flex-direction: row;
        justify-content: space-around;
    }

    .botao_next_page {
        width: 30%;
    }

    .btn {
        bottom: 1px;
        border: 1px solid rgb(133, 127, 127);
    }
}






















